body{
    font-family: Arial, sans-serif;
    margin: 0px;
    padding: 20px;
    background-color: #101418;
    color: white;
    height: 94vh;
}

#app{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #16202a;
    border: 1px solid black;
    border-radius: 20px;
    height: 100%;
    width: 100%;
    overflow: hidden;
}

h1{
    font-size: 24px;
}

h2{
    font-size: 15px;
}

button {
    background-color: #16202a;
    color: #fff;
    border: 1px solid #1b2733;
    border-radius: 8px;
    padding: 8px 16px;
    font-size: 15px;
    cursor: pointer;
    border: 1px solid black;
    transition: background 0.2s, color 0.2s, border 0.2s;
}

button:hover {
    background-color: #1b2733;
    color: #0eabbc;
    border-color: #0eabbc;
}

#header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 10%;
    width: 90%;
    padding: 10px 20px;
    border-bottom: 1px solid black;
}

#subtitle{
    font-size: 12px;
    font-weight: lighter;
}

#collections{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 20px;
    height: 80%;
    width: 90%;
    overflow-x: auto;
    padding: 20px;
}

#sidebar{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    height: 90%;
    width: 20%;
    background-color: #1b2733;
    border: 1px solid black;
    border-radius: 20px;
    padding: 20px;
}

#sidebar-header{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 125px;
    width: 100%;
}

#collection-list{
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 100%;
}

#collection-list li{
    list-style-type: none;
    margin: 10px 0;
    padding: 8px;
    width: 100%;
    box-sizing: border-box;
    border-radius: 8px;
    border: 1px solid black;
    cursor: pointer;
    transition: background 0.2s, color 0.2s;
}

#collection-list li:hover {
    background-color: #16202a;
}

#collection-list li.selected {
    background-color: #16202a;
    border-color: #0eabbc;
}

#main-content{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    height: 90%;
    width: 80%;
    background-color: #1b2733;
    border: 1px solid black;
    border-radius: 20px;
    padding: 20px;
    overflow: hidden;
}

#collection-form{
    display: none;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    width: 100%;
    min-height: 30%;
    flex-shrink: 0;
    margin-bottom: 20px;
    border: 1px solid black;
    border-radius: 20px;
}

#collection-name, #collection-description{
    margin:8px;
    width: 80%;
    padding: 8px;
    border-radius: 8px;
    border: 1px solid #1b2733;
    background-color: #16202a;
    color: #fff;
    font-size: 12px;
}

#collection-form-extras{
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    gap: 10px;
}
#collection-category{
    margin:8px;
    width: 70%;
    padding: 8px;
    border-radius: 8px;
    border: 1px solid #1b2733;
    background-color: #16202a;
    color: #fff;
    font-size: 12px;
}

#collection-color{
    margin:8px;
    height: 30px;
    width: 30px;
    padding: 2px;
    border-radius: 8px;
    border: 1px solid #1b2733;
    background-color: #16202a;
    cursor: pointer;
    font-size: 8px;
}

#stats{
    display: none;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    min-height: 10%;
    flex-shrink: 0;
    margin-bottom: 20px;
    border: 1px solid black;
    border-radius: 20px;
}

#items{
    display: none;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    flex: 1;
    min-height: 0;
    border: 1px solid black;
    border-radius: 20px;
    overflow: hidden;
}

#items-header{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 850px;
    padding-top: 10px;
    border-bottom: 1px solid black;
}

#items-search {
    padding-top: 20px;
    padding-left: 5px;
    width: 100%;
    display: flex;
    flex-direction: row;
    gap: 15px;
}

#search-bar {
    width: 70%;
    padding: 8px;
    margin-left: 10px;
    border-radius: 8px;
    border: 1px solid #1b2733;
    background-color: #16202a;
    font-size: 15px;
}

#filter-status, #sort-by{
    padding: 8px;
    border-radius: 8px;
    border: 1px solid #1b2733;
    background-color: #16202a;
    color: #aaa;
    opacity: 1;
    font-size: 15px;
    cursor: pointer;
    transition: background 0.2s, color 0.2s, border 0.2s;
}

#filter-status:hover, #sort-by:hover {
    border-color: #0eabbc;
    opacity: 1;
}

#item-form{
    display: none; 
    position: fixed;
    flex-wrap: wrap;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1000;
    background-color: rgba(27, 39, 51, 0.9);
    border: 2px solid black;
    border-radius: 20px;
    width:600px;
    height: 450px;
    justify-content: center;
    align-items: center;
    padding: 10px;
}

#item-name, #item-set, #item-quantity, #item-acquired-date, #item-value, #item-notes {
    background-color: #16202a;
    color: #fff;
    border: 1px solid #1b2733;
    border-radius: 8px;
    padding: 8px;
    font-size: 15px;
}

#item-status {
    background-color: #16202a;
    color: #fff;
    border: 1px solid #1b2733;
    border-radius: 8px;
    padding: 8px;
    font-size: 15px;
    cursor: pointer;
    transition: background 0.2s, color 0.2s, border 0.2s;
}

#item-status:hover {
    border-color: #0eabbc;
}

#item-list {
    list-style-type: none;
    margin: 0;
    padding: 10px;
    width: 100%;
    box-sizing: border-box;
    overflow-y: auto;
    flex: 1;
    min-height: 0;
}

#item-list li{
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style-type: none;
    margin: 10px 0;
    padding: 8px;
    width: 100%;
    box-sizing: border-box;
    border-radius: 8px;
    border: 1px solid black;
    background-color: #16202a;
    cursor: pointer;
    transition: background 0.2s, color 0.2s;
}